a {
  color: #576b95;
  text-decoration: none;
  font-size: 0.85em;
}

h1 {
  display: table;
  text-align: center;
  color: #3f3f3f;
  line-height: 1.75;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 2em auto 1em;
  padding: 0 1em;
  border-bottom: 2px solid #009874;
  margin-top: 0;
}

h2 {
  display: table;
  text-align: center;
  color: #fff;
  line-height: 1.75;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin: 4em auto 2em;
  padding: 0 0.3em;
  border-radius: 0.3em;
  background: #009874;
}

p {
  font-size: 0.85em;
}

h3 {
  text-align: left;
  color: #3f3f3f;
  line-height: 1.2;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin: 2em 8px 0.75em 0;
  padding-left: 8px;
  border-left: 3px solid #009874;
}

ul {
  padding-left: 1.2em;
}

ol {
  padding-left: 1.2em;
}

li {
  margin: 0;
  line-height: 1.5em;
  color: rgb(30 41 59);
  font-size: 0.85em;
}

blockquote {
  text-align: left;
  line-height: 1.75;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 0.85em;
  font-style: normal;
  border-left: none;
  padding: 0.1rem 1rem;
  border-radius: 4px;
  background: rgba(27, 31, 35, 0.05);
  margin: 1rem 0;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: rgb(51, 51, 51);
  background: rgb(248, 248, 248);
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-weight: 400;
  letter-spacing: normal;
  orphans: 2;
  text-indent: 0px;
  text-transform: none;
  widows: 2;
  word-spacing: 0px;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-align: left;
  line-height: 1.5;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  border-radius: 5px;
  margin: 0.9rem 0;
  white-space: pre;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  line-height: 1.35;
  font-size: 0.85em;
}

td {
  border: 1px solid #ddd;
  padding: 0.25em 0.5em;
}

th {
  background: rgb(0 0 0 / 5%);
  border: 1px solid #ddd;
  padding: 0.25em 0.5em;
}

.code-highlight {
  text-align: left;
  line-height: 1.75;
  font-family: Menlo, 'Operator Mono', Consolas, Monaco, monospace;
  font-size: 0.85em;
  margin: 0px;
  white-space: nowrap;
}

.code-line {
  display: block;
  line-height: 1.3;
}

.code-spans {
  text-align: left;
  line-height: 1;
  white-space: pre;
  color: #009874;
  background: rgba(27, 31, 35, 0.05);
  padding: 0.2em 0.3em;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85em;
}

.footnotes-title {
  display: table;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin: 3em 0 0.6em 0;
  padding-left: 0.2em;
}

.footnotes-list {
  font-size: 12px;
  font-style: italic;
  line-height: 1.2;
  margin: 0.4rem 0;
}

figure {
  margin: 0;
}

.image-warpper {
  text-align: center;
  margin-bottom: 0rem;
  visibility: visible;
}

.image {
  display: initial;
  max-width: 100%;
}

.comment {
  color: #6a737d;
}
.property {
  color: #6f42c1;
}
.function {
  color: #6f42c1;
}
.keyword {
  color: #d73a49;
}
.punctuation {
  color: #0550ae;
}
.unit {
  color: #0550ae;
}
.tag {
  color: #22863a;
}
.selector {
  color: #22863a;
}
.quote {
  color: #22863a;
}
.number {
  color: #005cc5;
}
.attr-name {
  color: #005cc5;
}
.attr-value {
  color: #005cc5;
}
