a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  color: inherit;
  margin: 2.5rem 0 1rem 0;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  color: inherit;
  margin: 1em 0 1em 0;
  font-weight: bold;
  font-size: 14px;
}

h4 {
  color: inherit;
  margin: 0.6em 0 0.6em 0;
  font-weight: bold;
  font-size: 12px;
}

p {
  color: initial;
  font-size: 14px;
  line-height: 1.5em;
}

ul {
  padding-left: 1.2em;
}

ol {
  padding-left: 1.2em;
}

li {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}

blockquote {
  font-style: normal;
  border-left: none;
  margin: 1em 0;
  line-height: 1.5em;
}

pre {
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: rgb(51, 51, 51);
  background: rgb(248, 248, 248);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  word-spacing: 0px;
  border-radius: 5px;
  margin: 0.9rem 0;
  white-space: pre;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  line-height: 1.35;
  font-size: 14px;
}

td {
  border: 1px solid #ddd;
  padding: 0.25em 0.5em;
}

th {
  background: rgb(0 0 0 / 5%);
  border: 1px solid #ddd;
  padding: 0.25em 0.5em;
}

.code-highlight {
  text-align: left;
  font-family: Menlo, 'Operator Mono', Consolas, Monaco, monospace;
  font-size: 14px;
  margin: 0px;
  white-space: nowrap;
}

.code-line {
  display: block;
  line-height: 1.3;
}

.code-spans {
  text-align: left;
  line-height: 1;
  white-space: initial;
  background: rgba(27, 31, 35, 0.05);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 1em;
  top: -0.1em;
  position: relative;
}

.footnotes-title {
  display: table;
  font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei UI', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 3rem 0 0.6rem 0;
  padding-left: 0.2rem;
}

.footnotes-list {
  font-size: 10px;
  font-style: italic;
  line-height: 1.2;
  margin: 0.4rem 0;
}

figure {
  margin: 0;
}

.image-warpper {
  text-align: center;
  margin-bottom: 0rem;
  visibility: visible;
}

.image {
  display: initial;
  max-width: 100%;
}

.comment {
  color: #6a737d;
}
.property {
  color: #6f42c1;
}
.function {
  color: #6f42c1;
}
.keyword {
  color: #d73a49;
}
.punctuation {
  color: #0550ae;
}
.unit {
  color: #0550ae;
}
.tag {
  color: #22863a;
}
.selector {
  color: #22863a;
}
.quote {
  color: #22863a;
}
.number {
  color: #005cc5;
}
.attr-name {
  color: #005cc5;
}
.attr-value {
  color: #005cc5;
}
